.ball {
  width: 100px;
  height: 100px;
  background: url('../img/ball.png') no-repeat;
  background-position: center;
  background-size: contain;
}

.basket {
  position: absolute;
  top: 150px;
  z-index: 2;
  width: 150px;
  height: 150px;
  background: url('../img/basket.png') no-repeat;
  background-position: top;
  background-size: contain;
}