<h1 mat-dialog-title>Enter order info</h1>
<div mat-dialog-content>
  <div class="form">
    <mat-form-field>
      <mat-label>Enter Phone Number</mat-label>
      <input matInput type="tel" [(ngModel)]="inputs.phone">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter Price</mat-label>
      <input matInput type="number" [(ngModel)]="inputs.price">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="inputs">Order</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Close</button>
</div>
