.list {
  padding: 10px;
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 425px));
  column-gap: 25px;
  row-gap: 25px;
  justify-content: center;
}
